<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>zxc</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/img/preview.jpg')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="http://192.168.1.50:5000/">ZXC</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Главная</a></li>
          <li><a class="nav-link scrollto" href="#about">Карточка гуля</a></li>
          <li><a class="nav-link scrollto" href="#services">Аниме для гулей</a></li>
          <li><a class="nav-link scrollto " href="#work">Магазины</a></li>
          <li><a class="nav-link scrollto " href="#blog">Недозволенно</a></li>
          <li><a class="nav-link scrollto" href="#contact">что-то не так? </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url({{ url_for('static', filename='assets/img/1663677893_22-phonoteka-org-p-ded-insaid-oboi-na-telefon-instagram-23.jpg') }});">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Я - гуль...</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="В потоке , Дед-инсайд, Мертв внутри, 1000-7, Эгоист"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{{url_for('static',filename='assets/img/4bc6bacec81973562ad50674b407e98d.jpg')}}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Карточка тру дед инсайда </span></p>
                        <p><span class="title-s">Мама: </span> <span>Умерла при изнасиловании.</span></p>
                        <p><span class="title-s">Отец: </span> <span>Убили из-за того что стоял дабл мид.</span></p>
                        <p><span class="title-s">Интернет: </span> <span>т.к ты Азербайджанец тебе перерезали провода.</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Стата</p>
                    <span>ОДИНОЧЕСТВО</span> <span class="pull-right">100%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>САМООЦЕНКА</span> <span class="pull-right">0%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>СЧАСТЬЕ</span> <span class="pull-right">0%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>ДРУЗЬЯ</span> <span class="pull-right">0%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Про дед инсайдов
                      </h5>
                    </div>
                    <p class="lead">
                      «Дед инсайд» (от англ. dead inside, «мертвый внутри») — это мем, популярный в геймерской среде и в итоге породивший субкультуру тех, кто ощущает себя внутренне опустошенными, «мертвыми изнутри». К 2022 «дед инсайд» изменил значение и сейчас популярен больше как мем, чем как самоназвание «грустных» людей.  Типичный «дед инсайд» — это человек, увлеченный аниме или игрой в Dota 2, с челкой, падающей на глаза и в одежде черно-белых оттенков. В его профиле в соцсети чаще всего скриншоты из японского аниме «Токийский гуль», а в статусе или нике может быть фраза «дед инсайд». Лицо на фото закрыто маской или вообще скрыто. «Дед инсайду» не обязательно играть в Dota и смотреть аниме
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Анимешки для гулей
              </h3>
              <p class="subtitle-a">
                Собраны самые зафоршенные и популярные аниме для гулей.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">HunterxHunter</h2>
                <p class="s-description text-center">
                  Главный герой, Гон Фрикс, отправляется на экзамен с целью стать Охотником и найти своего отца. Ему предстоит преодолеть много трудностей на своем пути и встретить замечательных друзей, у каждого из которых свои причины стать Охотником. Действие происходит в мире, где существует некая организация Охотников.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">Токийский гуль</h2>
                <p class="s-description text-center">
                  Кровавая история о пожирателях плоти и социальном неравенстве Манга «Токийский гуль» приобрела огромную популярность по всему миру. История о гулях, существах, способных питаться исключительно человеческой плотью и пытающихся выжить в мире людей, запала в душу миллионам читателей и смотрящих аниме.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">Блю лок</h2>
                <p class="s-description text-center">
                  Это японское спортивное аниме, основанное на манге, рассказывающее историю группы футболистов, которые тренируются в специальном лагере, чтобы стать сильнейшими нападающими мира. Аниме 'Blue Lock' поражает своей динамичностью и напряженностью.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">Баскетбол куроко</h2>
                <p class="s-description text-center">
                  Все заядлые баскетболисты прекрасно знают знаменитую школу Тэйко, где есть особенный клуб, прославившийся своими грандиозными победами. Но в определенный момент пятерка выдающихся игроков разошлась по разным сторонам. Только немногие были осведомлены, что в известной команде был шестой участник (фантом), который тоже обладал поразительными способностями, но, к сожалению, оставался в тени более успешных коллег.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">Берсерк</h2>
                <p class="s-description text-center">
                  Через предательство и кровь к власти пришел новый король. Его демоны-подручные чинят несправедливости до тех пор, пока в город однажды ночью не приходит тяжело вооруженный воин. Весь покрытый оружием, броней и шрамами он называет себя Чёрным Мечником. Размеры его меча могут сравниться только с его ненавистью к королю и его демонам.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
              </div>
              <div class="service-content">
                <h2 class="s-title">Убийца Акаме</h2>
                <p class="s-description text-center">
                  Убийца акаме следует за Тацуми, довольно наивным деревенским мальчиком, который присоединяется к Night Reid, тайному отряду убийц революционной армии. По сравнению с другими работами в этом списке, она имеет меньше общего с « Токийским гулем», но поклонникам одной, скорее всего, понравится другая
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counter Section ======= -->


    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                магазины с одеждей
              </h3>
              <p class="subtitle-a">
                ниже топ магазины , которые не кидают и рил честни
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/lh8vvqmC9bk.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/lh8vvqmC9bk.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Официальное ресейл резерв сообщество хикикомори кай</h2>
                    <div class="w-more">
                      <span class="w-ctegory">hikikomori kai</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://vk.com/hikikomorikai_merch"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/h1f79AXUAaY.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/h1f79AXUAaY.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Магазин с ахуенными шмотками . no face</h2>
                    <div class="w-more">
                      <span class="w-ctegory">convulsive</span> /
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://vk.com/convulsiveq?from=top"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/zlSQBnaZtZE.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/zlSQBnaZtZE.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">избавление без покаяния, ахуенный магазин с норм шмотками</h2>
                    <div class="w-more">
                      <span class="w-ctegory">lobotomy</span> /
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://vk.com/lobo1omy?from=search"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/22JpM5RAxHY.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/22JpM5RAxHY.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">мои воспоминания рыдают , магаз с одним из лучших аптечек</h2>
                    <div class="w-more">
                      <span class="w-ctegory">conjunctiva</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://vk.com/conjunctiva?from=top"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/1HEZMIhQ5Zg.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/1HEZMIhQ5Zg.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">season hit, худаки ахуенни!!!</h2>
                    <div class="w-more">
                      <span class="w-ctegory">kusakabe</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://vk.com/kusakabe"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{url_for('static',filename='assets/img/PMyrbodYYO4.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{url_for('static',filename='assets/img/PMyrbodYYO4.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">бля лучшие тишки реально</h2>
                    <div class="w-more">
                      <span class="w-ctegory">asokami</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{url_for('static',filename='assets/img/102456b070bd3962497d3608e766b90d.jpg')}}" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">zxcursed (Кир Курседов)</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Курсед очень востребованный Твич-стример, который за несколько лет приобрел огромную известность. Он известен как один из самых скрытных стримеров, никогда не раскрывающий свою истинную личность и не показывающий свое лицо.Прозвище «Zxcursed» можно интерпретировать как «Проклятый»..  В 2022 году молодой человек начал заниматься музыкой, выпустив единственную песню под названием «Во сне».  Первоначальное наказание было вынесено из-за отсутствия дисциплины в случаях разногласий среди подписчиков. О жизни знаменитости известно немного. В сети распространяются различные предположения о его настоящем имени.В одном из последних видео к Курседу обратился его друг, который назвал его Ромой. После этого парень заявил, что раскроет частную информацию в разоблачении, которое, однако, так и не состоялось. Кир Курседов является зародителем субкулютур " дед инсайдов / гулей " и т.п субкультур которые до сих пор восхваляют его.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="{{url_for('static',filename='assets/img/841fffd1a1f58da3fce83121f54b3886.jpg')}}" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">akumaqqe (Сергей Акумов)</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        О Сергее почти ничего не известно. В интернете невозможно найти информацию о том, откуда он родом, и где прошло его детство. Также неизвестно, кем являются родители молодого человека, есть ли у него братья или сестры. Можно сказать, что Акума не любит рассказывать о себе и раскрывать свои личные данные. Однако на одном из своих стримов Сережа отвечал на вопросы подписчиков и раскрыл о себе некоторую информацию. Поклонникам известно, что Сережа родился в декабре 1996 года. Его рост составляет 172 сантиметра. Родился он в поселке Красне, детство прошло в городе Львове. Известно, что Сергей Акума не состоит в отношениях. Он не женат, не имеет детей. Все свое время он посвящает развитию навыков стримера и киберспортсмена. Знакомые люди отмечают, что Сережа обладает огромной работоспособностью и стремлению к самосовершенствованию. Именно эти качества привлекают все больше подписчиков.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>

            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
          
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Недозволенно
              </h3>
              <p class="subtitle-a">
                Никаких отношений , ты гуль.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="http://192.168.1.50:5000/"><img src="{{url_for('static',filename='assets/img/c124115.jpg')}}" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Отношения</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://otvet.mail.ru/question/221423641">У дед инсайдов и в помине не может быть отношений</a></h3>
                <p class="card-description">
                  Люди играющие в доту редко хорошо себя ведут. И ты тоже поверь мне. Ты должен быть сигмой бро, ты дед инсайд... Нахуй женщины дай мне клавиатуру и мышку , и я буду играть.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="{{url_for('static',filename='assets/img/895d8190151cc7cbde38b1d401c95830.jpg')}}" alt="" class="avatar rounded-circle">
                    <span class="author">Кир курседов</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> Накатал за 2 минуты
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="{{url_for('static',filename='assets/img/756538921092889.jpg')}}" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Счастье</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://lenta.ru/articles/2023/07/09/ded_inside/">Але какое счастье вообще???</a></h3>
                <p class="card-description">
                  Ты же не счастлив будь честен, ты просто живешь. Ты NPC бро, играй дальше в доту и занимайся мастурбацией.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="{{url_for('static',filename='assets/img/895d8190151cc7cbde38b1d401c95830.jpg')}}" alt="" class="avatar rounded-circle">
                    <span class="author">Кир Курседов</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 5 мин ебашил
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="{{url_for('static',filename='assets/img/6239f0fc4f353.jpg')}}" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Успех в жизни</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://spbdnevnik.ru/news/2022-01-26/kto-takie-ded-insaydy-i-dreynershi">Ты будешь играть в доту и страдать всю жизнь - это факт.</a></h3>
                <p class="card-description">
                  Так, «мертвыми внутри» себя называли и эмо, и готы, и представители других «депрессивных» субкультур. И ты будешь депрессивен и не успешен всю свою жизнь.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="{{url_for('static',filename='assets/img/10c9afc8a3843dc8c0baacc5cd27e763.jpg')}}" alt="" class="avatar rounded-circle">
                    <span class="author">Сергей Акумов</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> Хуярнул в мгновенье
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Напиши мне что я красава бля
                      </h5>
                    </div>
                    <div>
                      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="как тя по батюшке" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="почта твоя" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="пацан или девочка" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="пиши радости или гадости" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">жди</div>
                            <div class="error-message"></div>
                            <div class="sent-message">все , я уже получил твой месадж. скоро прочту</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">нажми чтоб кинуть</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        данные разработчика
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        мне 16 и я нефр вахпхвапхвахп
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> улица пушкина дом калатушкина</li>
                        <li><span class="bi bi-phone"></span> все семерки если че</li>
                        <li><span class="bi bi-envelope"></span> zzizal199@gmail.com </li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>

                        <li><a href="https://vk.com/ugly_zs"><span class="ico-circle"><i class="bi bi-vkontakte"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>